@media only screen and (max-width: 600px) {...}
@media only screen and (max-width: 768px) {....}
@media only screen and (max-width: 992px) {....}
@media only screen and (max-width: 1200px) {....}




html {  
	scroll-behavior: smooth;

}

/*BODY: pagina genepxrale comprendente HEADER (NAV - menu navigazione)*/ 

body {
  background-color: #ffffff; 
  /*background-color: #C3A476*/
  margin: 0px !important;
  padding: 0px !important;
  border: 0px !important;
  max-width: 100%;


	}



/*______________________________________________________________________________________________*/



/*HEADER: H1; NAV (generale); ul (); li (); a (link voci menu);*/


header {
	text-align: left;
	background-color: #FFFFFF !important;
	padding: 0px 0px 0px 0px !important;
	margin: 0px 0px 0px 0px !important;
	border: 0px 0px 0px 0px !important;
	width: 100%;
	overflow: hidden;
	height: 300px;


	
			}

		

	#title {/*h1 Music Everytime (invisible)*/
		font-size: 0px;
		text-align: center;
		font-family: 'Kotta One', serif !important;
		}



	#logo {/*logo nuovo nella header*/
		width: 350px;
		margin: 0px;
		text-align: left ;
		padding: 20px;

}

header, nav, #title {
	display: inline-block;
}

@media only screen and (max-width: 800px) {
	header, nav, #title, .dropbtn, .dropdown, .dropdown-content, #dropd, .vocemenu, .active {text-align: left;
					width: 100%;
					margin: 0px !important;				
					padding: 0px !important;
					display: block !important;
				}
}
	
nav {
	text-align: center !important;
	margin-top: 100px !important;
	margin-bottom: 0px; /*  !important serve a dire che se trovia informazioni contraddittorie altrove, questa è la più importante*/
	margin-right: 0px;
	background: none;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
	text-decoration: none; /*non voglio sottolineature etc.*/
	float: right;

  		
	}



	nav ul { 
	 	text-align: center!important;
	 	margin-top: 0px;
	 	margin-bottom: 100px;
     	padding: 0px !important;
	 	list-style-type: none !important; /*non mette i puntini dell'elenco puntato*/
		text-decoration: none; /*non voglio sottolineature etc.*/
		overflow: hidden;


		}



		nav ul li {
			display: inline-block !important; /*menu orizzontale*/
			text-align: center !important;
			padding: 0px 0px 0px 0px;
			margin: 0px 0px 0px 0px;
			text-transform: uppercase; /*se non ho voglia di scriverlo in maiuscolo in ogni file .html*/
			padding-color: none;
			text-decoration: none; /*non voglio sottolineature etc.*/
	        float: center;


	  		}


/*dropbutton*/

		li a, .dropbtn {
		  display: inline-block;
		  color: #8a8a8a;
		  text-align: center;
		  padding: 0px 0px 0px 0px;
          margin: 0px 10px 0px 10px;
		  text-decoration: none;
		  background-color: none; /*non voglio dare uno sfondo a ogni singola voce del menu, ma l'ho già messo generale in nav (#2e2e2e)*/

		}

		li a:hover, .dropdown:hover .dropbtn {
		  background-color: none;
		}

		li.dropdown {
		  display: inline-block;
		}

		#dropd {
			color: #C3A476;
		}



		.dropdown-content {
		  display: none;
		  position: absolute;
		  background-color: none;
		  min-width: 150px;
		  z-index: 1;
		  margin-right: 0px;
		  margin-left: 0px;
		  margin-top: 0px;
		  padding-top: 20px;
		  padding-bottom: 20px;
		}

		.dropdown-content a {
		  color: #8A8A8A;
		  padding: 5px 5px 5px 5px;
	  	  margin: 0px 20px 0px 20px;
		  text-decoration: none;
		  display: block;
		  text-align: left;
		}

		.dropdown-content a:hover {color: #C3A476;}

		.dropdown:hover .dropdown-content {
		  display: block;
		}



/*voci menu*/



	    .vocemenu { /*ogni singola voce menu*/
	  		margin: 0px 20px 0px 20px;
	  		padding: 0px 0px 0px 0px;
			background-color: none; /*non voglio dare uno sfondo a ogni singola voce del menu, ma l'ho già messo generale in nav (#2e2e2e)*/
			text-decoration: none; /*non voglio sottolineature etc.*/
			color: #8a8a8a;
			text-transform: uppercase;

			
			}
		   	 		   
		.vocemenu:hover {/*cosa succede se passo il mause su ogni voce menu*/
			text-align: center;
			color: #C3A476;
			text-decoration: none; /*non voglio sottolineature etc.*/

				}


		.active {/*cosa succede alla voce menu della pagina su cui mi trovo*/
			text-align: center;
			text-decoration: none; /*non voglio sottolineature etc.*/
			color: #C3A476;
			padding: 0px !important; /*altrimenti quando una pagina è selezionata, la voce si sposta leggermente...*/
			}

		

			


/*_______________________________________________________________________________________________________________________________________*MAIN*/


.fontmain {/*font di tutta la main*/
	font-family: 'Lato', sans-serif !important;
	padding: 0px 0px 50px 0px;
}


	.fontkotta {/*corsivi*/
		font-family: 'Kotta One', serif;
	}


.mainhome {
	background-color: #ffffff;
	height: 800px;
	margin: 0px!important;

}

@media only screen and (max-width: 800px) {
	.mainhome {text-align: left;
					width: 100%;
					margin: 0px !important;				
					overflow: hidden;
				}
}


		#bluepic1 {
			max-width: 60%;
			height: auto;
			float: right;

		}

	
		.bluepic2{
			width: 100%;
			background: url(../img/blue2.png) no-repeat;
			background-size: 1200px auto;
			height: 590px;
		 }

		 #secter {
		 	width: 100%;
		 }



.primo { /*paragrafo*/
	margin-left: 100px; 
	text-align: left; ;
	padding-top: 100px;
	padding-bottom: 100px;
	font-family: 'Lato', sans-serif;
	max-width: 100%;
	overflow: hidden;

}

@media only screen and (max-width: 800px) {
	.primo {text-align: left;
					width: 100%;
					margin: 0px !important;				
					overflow: hidden;
				}
}

.secondo {/* paragrafo*/
	padding-left: 400px; 
	padding-right: 50px;
	text-align: left;
	margin-top: -400px;
font-family: 'Lato', sans-serif;
	max-width: 100%;
		overflow: hidden;




}

@media only screen and (max-width: 800px) {
	.secondo {text-align: left;
					width: 100%;
					margin: 0px !important;				
					overflow: hidden;
				}
}

.terzo {/*paragrafo*/
	margin-left: 400px; 
	margin-right: 50px;
	max-width: 100%;
	text-align: left;
	overflow: hidden;
	padding-top: 70px;
	font-family: 'Lato', sans-serif;

}

@media only screen and (max-width: 800px) {
	.terzo {text-align: left;
					width: 100%;
					margin: 0px !important}
}


/*_________________________________________________________________*MUSICMOOD*/


#musicmood, #aboutus {
	padding-top: 100px;
	padding-bottom: 100px;
	text-align: center;
	padding-left: 0px;
	padding-right: 0px;
	margin: 0px 0px 0px 0px;
	font-family: 'Kotta One', sans-serif;
	max-width: 100%;


}






#allmood {
	background-color: #C3A476;
	margin-top: 200px;
	font-family: 'Lato', sans-serif;
	overflow: hidden;
	max-width: 100%;

}






#vinil {/*FOTO*/
	margin: 0px;
	padding: 0px;
	border: 0px;
	height: auto;
	width: 100%;
	opacity: 1;
}



.container {
  position: relative;



}

@media only screen and (max-width: 800px) {
	#text1, .inner, .content, .container, .flip-card, .flip-card-front, .flip-card-inner, .flip-card-back {text-align: left;
					width: 100%;
					margin: 0px !important;				
				}
}


.container .content {
  position: absolute;
  background: #000000; 
  opacity: 0.9; 

}

.content {
  color: #C3A476; 
  margin-top: -220px;
  margin-bottom: 0px;
  margin-right: 10px;
  margin-left: 10px;

  width: 900px !important;
  height: 150px;

}

#text1 {
	text-align: left;
	padding: 20px 30px 30px 30px !important;
	width: 600px;
	font-family: 'Lato', sans-serif;



}




.inner {
	text-align: center !important;
	background: none;
	background-size: 100%;
	height: 500px;
	padding: 0px;
	margin: 0px 0px 0px 0px;
}
.inner .flip-card{
	display: inline-block;
	text-align: center;
	position: center;
	vertical-align: center;
}

.flip-card {
  background-color: transparent;
  width: 200px;
  height: 200px;
  perspective: 500px;
  padding-top: 90px;
  padding-bottom: 200px;
  padding-left: 30px;
  padding-right: 30px;

}



.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 3s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  color: black;
  opacity: 0.5;
}

.flip-card-front:hover {
  color: black;
  opacity: 1;
}

.flip-card-back {
  background-color: #2e2e2e;
  color: black;
  transform: rotateY(180deg);
}

.years {
	text-align: center;
	background: #C3A476;
	background-size: 50%;
	width: 100px;
	height: 100px;
	position: center;
	text-decoration: none;
	transition: width 2s, height 2s;
	font-family: 'Kotta One', serif !important;
	padding-top: 0px;
	cursor: pointer;



}


.years:hover {
	width: 200px;
	height: 200px;
}


/*_________________________________________________________*ABOUTUS*/

#aboutustext {
	text-align: center;
	padding-left: 0px;
	padding-right: 0px;
	margin-right: 300px;
	margin-left: 300px;
	font-family: 'Lato', sans-serif;

}

@media only screen and (max-width: 800px) {
	#aboutustext {text-align: left;
					width: 100%;
					margin: 0px !important}
}




input[type=email] {
  width: 200px;
  text-align: center;
  transition: width .35s ease-in-out;
  transition: width .35s ease-in-out;
    margin-top: 30px;

}
input[type=email]:focus {
  width: 300px;
}

#emailme {
	vertical-align: center;
	width: 100%;
	height: 200px;
	text-align: center;
	font-family: 'Lato', sans-serif;

}




/*______________________________________________________________________________________________________________________*FOOTER*/


footer {
	text-align: center;
	height: 140px;
	color: grey;
	background-color: #111119;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;




}

footer p {
	text-align: center;
	font-family: 'Kotta One', serif;
	font-size: 12px;
	padding: 0px 0px 0px 0px;
	}


.bottomtop {
  display: block; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 10px; /* Place the button at the bottom of the page */
  right: 10px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: none; /* Set a background color */
  color: none; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 10px; /* Increase font size */
}

.bottomtop:hover {
  opacity: 0.5 ;
}



/*ICONA DOCUMENTAZIONE --> CSS in styledocumentazione.css */


#sfondodoc {
	background-color: #C3A476; margin: 0px; padding: 0px; border: 0px;}



#doc { /*icona file per collegamento a documentazione*/
	color: #C3A476;
	font-size: 20px;
	margin: 0px;
	border: 0px;
	padding: 0px 10px;
}


#social {
	font-size: 20px;
	margin: 0px;
	border: 0px;
	padding: 0px 10px;
	color: white;


}

#doc, #social {display: inline-block;}






/*___________________________________________________________________________________________________________________________________________________
_______________________________________________________________________________________________________________________________________________________*/






/*SIXTIES*/

@media only screen and (max-width: 800px) {
	.textt, .picture, .colorsec, .colorsec2, .video, .scene, #diskround, .stereo {text-align: left;
					width: 100%;
					margin: 0px !important;				
					overflow: hidden;
					padding: 0px !important;
				}
}

.textt {
	text-align: left;
	margin-left: 400px;
  	margin-right: 400px;
	font-family: 'Lato', sans-serif;


}

.picture {
	width: 600px;
	height: auto;
	text-align: center;
	float: center;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}



.colorsec {
	background-color: #C3A476;
	padding-top: 40px;
	padding-bottom: 30px;
}

.colorsec2 {
	background-color: #ffffff;
	padding-top: 30px;
	padding-bottom: 30px;
}


.video {
	text-align: center;
	float: center;
	margin-left: auto;
	margin-right: auto;
	display: block;

}


/*SEVENTIES*/





/*EIGHTIES*/





/*NINETIES*/









.scene {
	height: 200px;
	position: relative;
}

.scene img {
	position: relative;

}


#diskround {
background-color: transparent !important;
padding-left: 0px!important;
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
margin-top: 0px !important;
margin-bottom: 0px !important;
margin-left: 0px !important;
margin-right: 0px !important;
border: none;
border-color: transparent;
padding-color: transparent;
border: none;
color: transparent;
animation: logobutton 9s;
animation-timing-function: linear;
animation-duration: 9s;
animation-name: logomove;
position: relative; ;
width: 200px;
height: 200px;
animation-iteration-count: infinite;
animation-direction: alternate;

}



@keyframes logomove  {


10%  {left: 0px; top: 0px; width: 200px; height: 200px;}
30%  {left: 400px; top: 0px; width: 200px; height: 200px;}
50%  {left: 660px; top: -10px; width: 200px; height: 5px;}
60%  {left: 1000px; top: 20px; width: 200px; height: 5px;}
100%  {left: 1000px; top: 200px; width: 150px; height: 5px;}
100%  {transform: rotate(360deg);} 

}





 .stereo {
 		padding-left: 1000px;
 		margin-top: 0px;
 		
 }






/*-------------------------------*/

#bb {
	opacity: 0.5%;
	height: 0px;
	width: auto;
}

.roller {
	height: 200px;
	position: relative;
}

.roller img {
	position: relative;

}

#rollerdisk {
background-color: transparent;
padding-left: 0px!important;
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
margin-top: 0px !important;
margin-bottom: 0px !important;
margin-left: 0px !important;
margin-right: 0px !important;
border: none;
border-color: transparent;
padding-color: transparent;
border: none;
color: transparent;
animation: logobutton 9s;
animation-timing-function: linear;
animation-duration: 9s;
animation-name: rollerino;
position: relative; ;
width: 0px;
height: 0px;
animation-iteration-count: 1;
animation-direction: normal;

}



@keyframes rollerino  {


10%  {left: 0px; top: 0px; width: 0px; height: 0px;}
50%  {left: 1135px; top: 0px; width: 100px; height: 100px;}
100%  {left: 1135px; top: 0px; width: 200px; height: 200px;}
100%  {transform: rotate(360deg);} 

}



/*------------------------------------------------*yearsbreadcrumbs*/


.bread {
  position: fixed;
  top: 50%;
  }

.bread a {
  display: block;
  text-align: center;
  padding-left: 10px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #C3A476;
  font-size: 20px;
  }


.six, .seven, .eight, .nine {
	width: 60px;	
  	background: #8a8a8a;
  	color: #C3A476;
  	transition: 1s ease-in-out;
  	text-decoration: none;
	}

.six:hover, .seven:hover, .eight:hover, .nine:hover {
	width: 80px;
	transition: 0.5s ease-in-out;
	}

/*------------------------------------------------*/


		